/* =============== MAIN =============== */

main {
    min-height: 1080px;
    height: auto;
}

/* Clear floats after the columns */
main:after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

/* =============== CARD PRINCIPAL =============== */
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}

.main-container h5 {
    margin-top: 2px;
    margin-bottom: 8px;
}

.container-title {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.container-title hr {
    width: 80px;
    margin: 0 auto;
    margin-top: 15px;
    height: 3px;
    border: none;
    border-radius: 60px;
}

.card {
    width: calc(50% - 24px);
    max-width: 550px;
    margin: 40px 12px;
}

.card h2 {
    text-align: center;
    margin: 25px 0;
    margin-top: 20px;
    font-size: 20px;
}

.card p {
    text-align: justify;
    font-size: 15px;
    word-spacing: 4px;
    line-height: 1.6;
    letter-spacing: 0.01em;
}

.button-learn-more {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 30px;
    background-color: rgb(180, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    width: 130px;
}

.button-learn-more:hover {
    background-color: rgb(170, 0, 0);
}

.button-learn-more:active {
    background-color: rgb(160, 0, 0);
}

.fakeimg {
    width: 100%;
    height: 55%;
}

.fakeimg img {
    width: 100%;
    max-width: 550px;
    height: 100%;
    max-height: 308px;
}

/* =============== CONHEÇA MAIS =============== */
.elementor-background-saiba-mais-overlay-normal {
    width: 100%;
    height: 500px;
    background-image: url('../img/normal/home6_normal.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-background-saiba-mais-overlay-deuteranopia {
    width: 100%;
    height: 500px;
    background-image: url('../img/deuteranopia/home6_deuteranopia.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-background-saiba-mais-overlay-protanopia {
    width: 100%;
    height: 500px;
    background-image: url('../img/protanopia/home6_protanopia.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-background-saiba-mais-overlay-tritanopia {
    width: 100%;
    height: 500px;
    background-image: url('../img/tritanopia/home6_tritanopia.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-saiba-mais {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-evenly;
}

.card-saiba-mais {
    color: white;
    max-width: 550px;
}

.card-saiba-mais h1 {
    font-size: 61px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 1.5px;
}

.card-saiba-mais hr {
    width: 47%;
    margin: 25px auto;
    margin-left: 0;
    height: 3px;
    border: none;
    border-radius: 60px;
}

.card-saiba-mais p {
    font-size: 15px;
    margin-bottom: 50px;
}

.card-saiba-mais a {
    margin-left: 0;
}

/* =============== CARD PAGAMENTO =============== */
.card-pagamento {
    display: flex;
    width: 100%;
    max-width: 1140px;
    height: 480px;
    margin: 80px auto;
}

.content-card-pagamento,
.card-double-img,
.card-single-img {
    padding: 10px;
}

.content-card-pagamento {
    width: 33.3%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
}

.content-card-pagamento h2 {
    color: #222222;
    font-size: 30px;
    margin-bottom: 20px;
}

.content-card-pagamento p {
    font-size: 15px;
    color: #7A7A7A;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content-card-pagamento .button-learn-more {
    margin: 0;
}

.card-double-img {
    width: 33%;
}

.card-double-img img {
    width: 100%;
    min-width: 196px;
    height: calc(50% - 10px);
}

.card-double-img img:first-of-type {
    margin-bottom: 20px;
}

.card-single-img {
    width: 32.7%;
}

.card-single-img img {
    width: 100%;
    min-width: 262px;
    height: 100%;
}

@media screen and (max-width: 800px) {
    .elementor-background-saiba-mais-overlay {
        background-attachment: initial;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .topnav {
        display: flex;
    }

    .card {
        width: 100%;
        max-width: 747px;
    }

    .container-saiba-mais {
        flex-wrap: wrap;
    }

    .card-saiba-mais {
        margin: 0 12px;
    }

    .card-saiba-mais a {
        margin-bottom: 25px;
    }

    .fakeimg img {
        max-width: 747px;
        max-height: 419px;
    }

    .card-pagamento {
        flex-wrap: wrap;
        height: 100%;
    }

    .content-card-pagamento {
        width: 100%;
    }

    .card-double-img {
        width: 100%;
    }

    .card-single-img {
        width: 100%;
        height: 860px;
    }
}