* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
main {
    width: 80%;
    min-height: 720px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    color:#505050;
    display: flex;
    justify-content: space-between;
}

section {
    margin-bottom: 40px;
}
section h2 {
    font-size: 28px;
    color: rgb(59, 59, 59);
    font-weight: 700;
    margin-bottom: 10px;
}
section h3 {
    font-size: 24px;
    color: rgb(59, 59, 59);
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 10px;
}
section p {
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    word-spacing: 4px;
    line-height: 1.5;
    letter-spacing: 0.01em;
}
.left-section {
    width: 60%;
}

#idSectionForm img {
    width: 150px;
    height: 150px;
}
.background-form {
    background-color: rgba(126, 126, 126, 0.05);
    box-shadow: 1px 1px 10px 2px rgba(126, 126, 126, 0.2);
    border-radius: 5px;
    padding: 15px;
    width: 30%;
    height: 100%;
}
.center h2, .center img {
    text-align: center;
    display: block;
    margin: 0 auto;
}
#idFormOferta {
    width: 100%;
    margin-top: 20px;
}
#idNomeForm, #idEmailForm, #idAssuntoForm, #idMensagemForm {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#idMensagemForm {
    resize: none;
}

input[type=submit] {
    display: block;
    width: 200px;
    margin: 0 auto;
    font-size: 22px;
    background-color: rgb(50, 200, 75);
    border: 1px solid rgb(50, 190, 75);
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}
input[type=submit]:hover {
    background-color: rgb(50, 180, 75);
    border: 1px solid rgb(50, 170, 75);
}
input[type=submit]:active {
    background-color: rgb(50, 160, 75);
    border: 1px solid rgb(50, 150, 75);
}

@media screen and (max-width: 1366px) {
    main {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .left-section {
        width: 100%;
    }
    .background-form {
        width: 40%;
        margin: 60px auto;
    }
}
@media screen and (max-width: 1024px) {
    .background-form {
        width: 70%;
    }
}
@media screen and (max-width: 720px) {
    .background-form {
        width: 100%;
    }
}